@font-face {
    font-family: Prompt;
    src: url(/Homework/Homepage/Font/Prompt/Prompt-Light.ttf);
    font-family: Prompt-extralight;
    src: url(/Homework/Homepage/Font/Prompt/Prompt-ExtraLight.ttf);
}

body {
    font-family: Prompt, sans-serif;
    background-color: rgba(30, 30, 30, 1);
    
}

.bar{
    text-align: center;
    margin-top: 30px;
}

.header {
    color: white;
    text-decoration: none;
    margin: 0 30px 0 30px;
}

.header:hover {
    color: rgb(189, 189, 189);
    border-bottom: 1px solid white;
}

header {
    width: 100%;
    padding: 0;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
}

h4 {
    color: white;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
}

/* .container > div {
    background-color: rgb(189, 189, 189);
    margin: 10px;
    padding: 20px;
    font-size: 16px;
} */
.sidebar {
    width: 20%;
    height: auto;
    color: rgba(30, 30, 30, 1);
    margin: 20px 10px 100px 100px;
    padding: 20px 10px 100px 10px;
    background-color:white;
}

.avatar {
    height: 150px;
    position: static;
    width: auto;
    border-radius: 50%;
}

img {
    width: 50%;
}

.inf {
    width: 80%;
    height: 300px;
    color: white;
    margin: 20px 100px 0px 10px;
    padding: 10px;
    border-top: 4px solid white;
}