@font-face {
    font-family: Prompt;
    src: url(/Homework/Homepage/Font/Prompt/Prompt-Light.ttf);
    font-family: Prompt-extralight;
    src: url(/Homework/Homepage/Font/Prompt/Prompt-ExtraLight.ttf);
}

body {
    font-family: Prompt, sans-serif;
    background-color: rgba(30, 30, 30, 1);
    
}

.bar{
    text-align: center;
    margin-top: 30px;
}

.header {
    color: white;
    text-decoration: none;
    margin: 0 30px 0 30px;
}

.header:hover {
    color: rgb(189, 189, 189);
    border-bottom: 1px solid white;
}

table {
    border-collapse: collapse;
    width: 50%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
th {
      background-color: #dddddd;
      text-align: center;
  }

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
tr {
    background-color: white;
}